body {
    background-color: black;
}
p {
    color: lawngreen;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12px;
}
a {
    color: lawngreen;
}